#projectheader {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4ch;
    padding-left: 5%;
    margin-top: 5vh;
    color: white; /* Set text color to white */
}

#my-projects {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    color: white; /* Set text color to white */
}

.project-1 {
    display: flex;
    flex-direction: row;
    gap: 10%;
    border: 1.5px dashed rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5vh 10% 1vh 5%;
    padding: 3vh 5% 3vh 0;
    align-items: center;
    color: white; /* Set text color to white */
}

.p-header {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    margin-top: 2vh;
    margin-bottom: 3vh;
    gap: 3%;
    align-items: center;
    color: white; /* Set text color to white */
}

.p-header a {
    text-decoration: none;
    color: white; /* Set text color to white */
}

.p-name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3ch;
    color: white; /* Set text color to white */
}

.p-techno img {
    width: 3vw;
    height: 3vw;
    border-radius: 3px;
}

.p-techno img:hover {
    cursor: pointer;
}

.p-info {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    color: white; /* Set text color to white */
}

.p-disc {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2ch;
    color: white; /* Set text color to white */
}

.p-right img {
    width: 20vw;
    height: 20vw;
    border-radius: 10px;
}

@media (max-width: 650px) {
    .p-right img {
        width: 70vw;
        height: 60vw;
        border-radius: 10px;
    }
}
